* {
        margin: 0px;
        padding: 0px;
    }
    
.op_bg{
    position: relative;
    background-color: #0E2841;
    width: 100%;
    aspect-ratio: 6 / 1;
}

.op_textbox{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 3vmax;
    padding: 0 1vmax;
    color: #99ff99;
}

.op_moon{
    position: absolute;
    background-color: #ffff00;
    border-radius: 50% 50%;
    width: 4.5%;
    aspect-ratio: 1 / 1;
    top: 5%;
    bottom: auto;
    right: 2%;
    left: auto;
}

.op_moonsh{
    position: absolute;
    background-color: #0E2841;
    border-radius: 50% 50%;
    width: 4.5%;
    aspect-ratio: 1 / 1;
    top: 8%;
    bottom: auto;
    right: 3%;
    left: auto;
}

.op_b0{
    position: absolute;
    background-color: #000000;
    width: 6%;
    aspect-ratio: 1 / 1;
    top: auto;
    bottom: 0%;
    right: 34%;
    left: auto;
}

.op_b1{
    position: absolute;
    background-color: #000000;
    width: 6%;
    aspect-ratio: 1 / 2;
    top: auto;
    bottom: 0%;
    right: 24%;
    left: auto;
}

.op_b2{
    position: absolute;
    background-color: #000000;
    width: 6%;
    aspect-ratio: 1 / 2;
    top: auto;
    bottom: 0%;
    right: 14%;
    left: auto;
}

.op_b3{
    position: absolute;
    background-color: #000000;
    width: 6%;
    aspect-ratio: 1 / 1;
    top: auto;
    bottom: 0%;
    right: 4%;
    left: auto;
}

.op_r0{
    position: absolute;
    background-color: #ffff00;
    width: 25%;
    aspect-ratio: 1 / 1;
    top: 15%;
    bottom: auto;
    right: 17%;
    left: auto;
}

.op_r1{
    position: absolute;
    background-color: #ffff00;
    width: 25%;
    aspect-ratio: 1 / 1;
    top: 15%;
    bottom: auto;
    right: auto;
    left: 17%;
}

.op_r2{
    position: absolute;
    background-color: #ffff00;
    width: 25%;
    aspect-ratio: 1 / 1;
    top: 55%;
    bottom: auto;
    right: 17%;
    left: auto;
}

.op_r3{
    position: absolute;
    background-color: #ffff00;
    width: 25%;
    aspect-ratio: 1 / 1;
    top: 55%;
    bottom: auto;
    right: auto;
    left: 17%;
}

.op_r4{
    position: absolute;
    background-color: #ffff00;
    width: 28%;
    aspect-ratio: 1 / 1;
    top: 10%;
    bottom: auto;
    right: 15%;
    left: auto;
}

.op_r5{
    position: absolute;
    background-color: #ffff00;
    width: 28%;
    aspect-ratio: 1 / 1;
    top: 10%;
    bottom: auto;
    right: auto;
    left: 15%;
}

.op_r6{
    position: absolute;
    background-color: #ffff00;
    width: 28%;
    aspect-ratio: 1 / 1;
    top: 35%;
    bottom: auto;
    right: 15%;
    left: auto;
}

.op_r7{
    position: absolute;
    background-color: #ffff00;
    width: 28%;
    aspect-ratio: 1 / 1;
    top: 35%;
    bottom: auto;
    right: auto;
    left: 15%;
}

.op_r8{
    position: absolute;
    background-color: #ffff00;
    width: 28%;
    aspect-ratio: 1 / 1;
    top: 60%;
    bottom: auto;
    right: 15%;
    left: auto;
}

.op_r9{
    position: absolute;
    background-color: #ffff00;
    width: 28%;
    aspect-ratio: 1 / 1;
    top: 60%;
    bottom: auto;
    right: auto;
    left: 15%;
}

.menu ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.menu li {
    border-right: 1px solid #bbbbbb;
}
  
.menu li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1vmax 2vmax;
    color: white;
    transition:all 0.3s;
}

.menu li a:hover:not(.active) {
    color: black;
    background-color: #ffff00;
}

.pf{
    color:#000000;
    background-color: #cccccc;
    padding: 1vmax;
}

.pf h1{
    text-align: center; 
}

.mainpf{
    position: absolute;
    display: flex;
    color: black;
    width: 80%;
    left: 10%;
}

.listl0{
    position: absolute;
    text-align: right;
    align-items: center;
    font-size: 1.5vmax;
    width: 44%;
    height: 2vmax;
    left: 0%;
    background-color: #99ff99;
}

.listc0{
    position: absolute;
    text-align: center;
    align-items: center;
    font-size: 1.5vmax;
    width: 4%;
    height: 2vmax;
    left: 44%;
    background-color: #99ff99;
}

.listr0{
    position: absolute;
    text-align: left;
    align-items: center;
    font-size: 1.5vmax;
    width: 52%;
    height: 2vmax;
    right: 0%;
    background-color: #99ff99;
}

.listl1{
    position: absolute;
    text-align: right;
    align-items: center;
    font-size: 1.5vmax;
    width: 44%;
    height: 2vmax;
    top: 2vmax;
    left: 0%;
    background-color: #CC99FF;
}

.listc1{
    position: absolute;
    text-align: center;
    align-items: center;
    font-size: 1.5vmax;
    width: 4%;
    height: 2vmax;
    top: 2vmax;
    left: 44%;
    background-color: #CC99FF;
}

.listr1{
    position: absolute;
    text-align: left;
    align-items: center;
    font-size: 1.5vmax;
    width: 52%;
    height: 2vmax;
    top: 2vmax;
    right: 0%;
    background-color: #CC99FF;
}

.pf h2{
    text-align: center; 
    padding: 2vmax 0vmax 0vmax 0vmax;
}

.car{
    display: grid;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 0vmax 0vmax 2vmax 0vmax;
    grid-template-columns: repeat(2, auto);
}

.car ul{
    display: flex;
    border-right: 1px solid #000000;
}

.car li{
    list-style:none;
    padding: 0.5vmax 1vmax; 
    background: #ffffff; 
    border-top: solid 1px #000000; 
    border-bottom: solid 1px #000000; 
    border-right: solid 1px #000000;
    border-left: solid 1px #000000;
}

.listtop li{
    background: #ccffff; 
}

.hob{
    display: grid;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 0vmax 0vmax 2vmax 0vmax;
}

.hob ul{
    display: flex;
    border-right: 1px solid #000000;
}

.hob li{
    list-style:none;
    padding: 0.5vmax 1vmax; 
    background: #ffffff; 
    border-top: solid 1px #000000; 
    border-bottom: solid 1px #000000; 
    border-right: solid 1px #000000;
    border-left: solid 1px #000000;
}

.pl{
    display: grid;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 0vmax 0vmax 2vmax 0vmax;
    grid-template-columns: repeat(2, auto);
}

.pl ul{
    display: flex;
    border-right: 1px solid #000000;
}

.pl li{
    list-style:none;
    padding: 0.5vmax 1vmax; 
    background: #ffffff; 
    border-top: solid 1px #000000; 
    border-bottom: solid 1px #000000; 
    border-right: solid 1px #000000;
    border-left: solid 1px #000000;
}

.ltop li{
    background: #ffccff; 
}